<%= render 'layerbegin' %>
<script>
    $(document).ready(function(){




        $('#searchbtn').click(function(){
            window.location.href=window.location.href.split('?')[0]+'?search='+$('#search').val();
        });

        $('#search').val(getUrlParam('search'));

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return decodeURI (r[2]); return null; //返回参数值
        }



    });
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">



    <div class="ibox-content">
      <div class="ibox-title">
        <h5>原材料库存</h5>
      </div>

      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">原材料</th>
          <th class="text-center">规格</th>
          <th class="text-center">单位</th>
          <th class="text-center">数量</th>
          <th class="text-center">单价成本</th>
          <th class="text-center">合计</th>
        </tr>
        </thead>
        <tbody>
        <% sum = 0 %>
        <% @rawdepots.each do |rawdepot| %>
            <tr>
              <td>
                <%= rawdepot.raw.name %>
              </td>
              <td>
                <%= rawdepot.raw.spec %>
              </td>
              <td>
                <%= rawdepot.raw.unit %>
              </td>
              <td>
                <%= rawdepot.number %>
              </td>
              <td>
                <%= rawdepot.price %>
              </td>
              <td>
                <%= rawdepot.price * rawdepot.number %>
              </td>
<% sum += rawdepot.price * rawdepot.number %>

            </tr>
        <% end %>
        </tbody>
      </table>

      <table class="table invoice-total">
        <tbody>
        <tr>
          <td><strong>成本合计：</strong>
          </td>
          <td>&yen;<%= sum %></td>
        </tr>
        </tbody>
      </table>

          <br/>




          </div>
          </div>
          </div>

      <%=render 'layerend' %>