<%= render 'layerbegin' %>
<script>
    $(document).ready(function(){




        $('#searchbtn').click(function(){
            window.location.href=window.location.href.split('?')[0]+'?search='+$('#search').val();
        });

        $('#search').val(getUrlParam('search'));

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return decodeURI (r[2]); return null; //返回参数值
        }



    });
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>预订单</h5>
      <div class="ibox-tools col-sm-3" style="margin-top: -5px;">
        <div class="input-group">
          <input type="text" id="search" placeholder="定单号或客户名称" class="input-sm form-control"> <span class="input-group-btn">
             <button type="button" id="searchbtn" class="btn btn-sm btn-primary"> 搜索</button> </span>
        </div>
      </div>
    </div>


    <div class="ibox-content">


      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">订单号</th>

          <th class="text-center">客户名称</th>
          <th class="text-center">客户电话</th>
          <th class="text-center">客户地址</th>
          <th class="text-center">提醒时间</th>


          <th class="text-center">已付金额</th>
          <th class="text-center">总金额</th>
          <th class="text-center">加工单数量</th>

          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @preorders.each do |preorder| %>
            <tr>
              <td>
                <%= preorder.ordernumber %>
              </td>



                <td>
                  <% if preorder.customer_id && preorder.customer_id != 0 %>
                  <% customer = Customer.find(preorder.customer_id) %>
                     <% if customer %>
                      <%= customer.name %>
                      <% end %>
                  <% end %>
                  </td>

              <td>
                <% if preorder.customer_id && preorder.customer_id != 0 %>
                    <% customer = Customer.find(preorder.customer_id) %>
                    <% if customer %>
                        <%= customer.tel %>
                    <% end %>
                <% end %>
              </td>

              <td>
                <% if preorder.customer_id && preorder.customer_id != 0 %>
                    <% customer = Customer.find(preorder.customer_id) %>
                    <% if customer %>
                        <%= customer.region %>
                    <% end %>
                <% end %>
              </td>

              <td>
                <% if preorder.installdate %>
                    <%= preorder.installdate.strftime('%Y-%m-%d') %>
                <% end %>
              </td>




              <td>
                <%= preorder.pay %>
              </td>
              <td>
                <% sum = preorder.preorderdetails.sum('sum') %>
                <%= sum %>
              </td>
              <td>
                <% work = Newwork.where('preordernumber = ? and isnew = 0',preorder.id) %>
                <%= work.count %>

              </td>
<td><%= link_to '查看',preorder_path(preorder),class:'fa fa-eye' %>&nbsp;
                <%= link_to '编辑',edit_preorder_path(preorder),class:'fa fa-edit' %>&nbsp;
  <% newwork = Newwork.find_by_preordernumber(preorder.id) %>

  <%= link_to '生成加工单',dowork_preorder_path(preorder),class:'fa fa-cube' %>&nbsp;
  <%= link_to '查看加工单',work_preorder_path(preorder),class:'fa fa-cubes' %>&nbsp;

                <%= link_to ' 删除', preorder, method: :delete, data: { confirm: '确认删除?' },class:'fa fa-trash' %>


              </td>

            </tr>
        <% end %>
        </tbody>
      </table>


      <%= link_to "新增",new_preorder_path,class: "btn btn-w-m btn-primary pull-right" %>
          <br/>

      <div class="text-center">
        <%= will_paginate @preorders, renderer: BootstrapPagination::Rails %>
      </div>



          </div>
          </div>
          </div>

      <%=render 'layerend' %>