<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <div class="ibox-tools">
        <button id="print" class="btn btn-primary btn-w-m" style="margin-top: -8px;">打印</button>
      </div>
      <% if params[:type].to_s =='' %>
          <h3>预订单</h3>
      <% else %>
          <h3>结算单</h3>
      <% end %>
    </div>


    <script>
        var way='';
        $(document).ready(function(){

            $('#print').click(function(){
                //$("div#myPrintArea").printArea();
                $("#myPrintArea").jqprint();

            });

            $('#ar').text(Arabia_to_Chinese($('#sr').text()));



            function Arabia_to_Chinese(Num) {
                for (i = Num.length - 1; i >= 0; i--) {
                    Num = Num.replace(",", "")//替换tomoney()中的“,”
                    Num = Num.replace(" ", "")//替换tomoney()中的空格
                }
                Num = Num.replace("￥", "")//替换掉可能出现的￥字符
                if (isNaN(Num)) { //验证输入的字符是否为数字
                    alert("请检查小写金额是否正确");
                    return;
                }
                //---字符处理完毕，开始转换，转换采用前后两部分分别转换---//
                part = String(Num).split(".");
                newchar = "";
                //小数点前进行转化
                for (i = part[0].length - 1; i >= 0; i--) {
                    if (part[0].length > 10) { alert("位数过大，无法计算"); return ""; } //若数量超过拾亿单位，提示
                    tmpnewchar = ""
                    perchar = part[0].charAt(i);
                    switch (perchar) {
                        case "0": tmpnewchar = "零" + tmpnewchar; break;
                        case "1": tmpnewchar = "壹" + tmpnewchar; break;
                        case "2": tmpnewchar = "贰" + tmpnewchar; break;
                        case "3": tmpnewchar = "叁" + tmpnewchar; break;
                        case "4": tmpnewchar = "肆" + tmpnewchar; break;
                        case "5": tmpnewchar = "伍" + tmpnewchar; break;
                        case "6": tmpnewchar = "陆" + tmpnewchar; break;
                        case "7": tmpnewchar = "柒" + tmpnewchar; break;
                        case "8": tmpnewchar = "捌" + tmpnewchar; break;
                        case "9": tmpnewchar = "玖" + tmpnewchar; break;
                    }
                    switch (part[0].length - i - 1) {
                        case 0: tmpnewchar = tmpnewchar + "元"; break;
                        case 1: if (perchar != 0) tmpnewchar = tmpnewchar + "拾"; break;
                        case 2: if (perchar != 0) tmpnewchar = tmpnewchar + "佰"; break;
                        case 3: if (perchar != 0) tmpnewchar = tmpnewchar + "仟"; break;
                        case 4: tmpnewchar = tmpnewchar + "万"; break;
                        case 5: if (perchar != 0) tmpnewchar = tmpnewchar + "拾"; break;
                        case 6: if (perchar != 0) tmpnewchar = tmpnewchar + "佰"; break;
                        case 7: if (perchar != 0) tmpnewchar = tmpnewchar + "仟"; break;
                        case 8: tmpnewchar = tmpnewchar + "亿"; break;
                        case 9: tmpnewchar = tmpnewchar + "拾"; break;
                    }
                    newchar = tmpnewchar + newchar;
                }
                //小数点之后进行转化
                if (Num.indexOf(".") != -1) {
                    if (part[1].length > 2) {
                        alert("小数点之后只能保留两位,系统将自动截段");
                        part[1] = part[1].substr(0, 2)
                    }
                    for (i = 0; i < part[1].length; i++) {
                        tmpnewchar = ""
                        perchar = part[1].charAt(i)
                        switch (perchar) {
                            case "0": tmpnewchar = "零" + tmpnewchar; break;
                            case "1": tmpnewchar = "壹" + tmpnewchar; break;
                            case "2": tmpnewchar = "贰" + tmpnewchar; break;
                            case "3": tmpnewchar = "叁" + tmpnewchar; break;
                            case "4": tmpnewchar = "肆" + tmpnewchar; break;
                            case "5": tmpnewchar = "伍" + tmpnewchar; break;
                            case "6": tmpnewchar = "陆" + tmpnewchar; break;
                            case "7": tmpnewchar = "柒" + tmpnewchar; break;
                            case "8": tmpnewchar = "捌" + tmpnewchar; break;
                            case "9": tmpnewchar = "玖" + tmpnewchar; break;
                        }
                        if (i == 0) tmpnewchar = tmpnewchar + "角";
                        if (i == 1) tmpnewchar = tmpnewchar + "分";
                        newchar = newchar + tmpnewchar;
                    }
                }
                //替换所有无用汉字
                while (newchar.search("零零") != -1)
                    newchar = newchar.replace("零零", "零");
                newchar = newchar.replace("零亿", "亿");
                newchar = newchar.replace("亿万", "亿");
                newchar = newchar.replace("零万", "万");
                newchar = newchar.replace("零元", "元");
                newchar = newchar.replace("零角", "");
                newchar = newchar.replace("零分", "");

                if (newchar.charAt(newchar.length - 1) == "元" || newchar.charAt(newchar.length - 1) == "角")
                    newchar = newchar + "整"
                //  document.write(newchar);
                return newchar;

            }



            //getdata();

            function getdata(){
                var tablejson;

                $.ajax({
                    async : false,
                    url : "getdata",
                    type : "GET",
                    dataType : 'json',
                    timeout : 5000,
                    data:{
                        preorderid:$('#preorderid').val()

                    },
                    success : function(jsonstr) {// 客户端jquery预先定义好的callback函数,成功获取跨域服务器上的json数据后,会动态执行这个callback函数
                        //alert(jsonstr.price);
                        tablejson=jsonstr;
                        $('#table').bootstrapTable({
                            showFooter:true,

                            columns: [{
                                field: 'id',
                                title: 'id',
                                visible:false


                            },{
                                field: 'area',
                                title: '使用位置'

                            },
                                {
                                    field: 'name',
                                    title: '型号'

                                },
                                {
                                    field: 'unit',
                                    title: '单位'

                                },
                                {
                                    field: 'price',
                                    align: 'right',
                                    title: '单价'


                                },
                                {
                                    field: 'number',
                                    align: 'right',
                                    title: '数量'


                                },
                                {
                                    field: 'sum',
                                    align: 'right',
                                    title: '合计'

                                },
                                {
                                    field: 'summary',
                                    title: '备注',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i in value) {
                                            count += value[i].sum;
                                        }
                                        return count;
                                    }
                                }],

                            formatLoadingMessage: function(){
                                return "";
                            },
                            data: tablejson
                        });

                        $('#table').bootstrapTable('load',tablejson);
                        var sum=0;
                        $.each(jsonstr,function(i,item){
                            sum+=parseFloat(item.sum);
                        });
                        $('#sumspan').text(sum);
                        $('#payablespan').text(sum);
                        $('#payable').val(sum);

                    },
                    error : function(xhr) {
                    }
                });
            }

            var datalist;
//        $.ajax({
//            type : 'get',
//            async : false,
//            url :'../getsupplier',
//            success : function(data) {
//                datalist=data;
//            }
//        });
            suggest(datalist);

            function suggest(data) {
                var testdataBsSuggest = $("#test_data").bsSuggest(
                        {
                            indexId: 0, indexKey: 2,
                            data: {
                                "value": data
                            }
                        }).on('onSetSelectValue', function(e, keyword, data) {
                            $('#supplierid').val(keyword.id);
                        });
            }

            var rawlist;
            $.ajax({
                type : 'get',
                async : false,
                url :'getpreraw',
                success : function(data) {
                    rawlist = data;
                }
            });
            raw(rawlist);

            function raw(data) {
                var rawdataBsSuggest = $("#raw_data").bsSuggest(
                        {
                            effectiveFieldsAlias:{id: "ID",pinyin: "简拼", name:"材料名称",spec:"规格"},
                            showHeader: true,
                            indexId: 0, indexKey: 2,
                            data: {
                                "value": data
                            }
                        }).on('onSetSelectValue', function(e, keyword, data) {
                            $('#modelid').val(keyword.id);
//                        $.ajax({
//                            type : 'get',
//                            async : false,
//                            url :'../getrawbyid?id='+keyword.id,
//                            success : function(json) {
//                                $('#modelid').val(keyword.id);
//                                $('#modelspec').val(json.spec);
//                                $('#modelunit').val(json.unit);
//                                $('#modelprice').val(json.price);
//                                $('#modelnumber').val(1);
//                                $('#modelsum').val(json.price);
//                            }
//                        });
                        });
            }


            $('#modalsubmit').click(function(){

                $.ajax({
                    type : 'get',
                    async : false,
                    url :'../changeinrawdetail',
                    data:{
                        way:way,
                        preorderid:$('#preorderid').val(),
                        prerawid:$('#modelid').val(),
                        area:$('#modelarea').val(),
                        unit:$('#modelunit').val(),
                        price:$('#modelprice').val(),
                        number:$('#modelnumber').val(),
                        summary:$('#modelsummary').val()
                    },
                    success : function(json) {
                        getdata();
                        $('#raw_data').val('');
                        $('#modelprice').val('');
                        $('#modelnumber').val('');
                        $('#modelspec').val('');
                        $('#modelunit').val('');
                        $('#modelnumber').val('');
                        $('#modelsum').val('');
                        $('#modelarea').val('');
                        $('#modelsummary').val('');

                    }
                });

            });

            $('#modelprice').change(function(){
                $('#modelsum').val(parseFloat($('#modelprice').val()) * parseFloat($('#modelnumber').val()));
            });

            $('#modelnumber').change(function(){
                $('#modelsum').val(parseFloat($('#modelprice').val()) * parseFloat($('#modelnumber').val()));
            });

            $('#edits').click(function(){
                way='edit';
                //alert($('#table').bootstrapTable('getSelections')[0].id);
                $('#modelid').val($('#table').bootstrapTable('getSelections')[0].id);
                $('#raw_data').val($('#table').bootstrapTable('getSelections')[0].name);
                $('#modelarea').val($('#table').bootstrapTable('getSelections')[0].area);
                $('#modelunit').val($('#table').bootstrapTable('getSelections')[0].unit);
                $('#modelnumber').val($('#table').bootstrapTable('getSelections')[0].number);
                $('#modelprice').val($('#table').bootstrapTable('getSelections')[0].price);
                $('#modelsum').val($('#table').bootstrapTable('getSelections')[0].sum);
                $('#modelsummary').val($('#table').bootstrapTable('getSelections')[0].summary);
                $("#addModal").modal();

            });


            $('#deletes').click(function(){
                way='delete';
                var rows = $('#table').bootstrapTable('getAllSelections');
                var ids = new Array();
                $.each(rows,function(i,item){
                    ids.push(item.id);

                });


                $.ajax({
                    type : 'get',
                    async : false,
                    url :'../deleteinrawdetail',
                    data:{
                        ids:ids
                    },
                    success : function(json) {
                        getdata();
                    }
                });
            });

            $('#adds').click(function(){
                way='add';

            });

            $('#smt').click(function(){

            });

            //年月选择器
            laydate.render({
                elem: '#installdate',
                done: function(value, date){
                    $('#installdatevalue').val(value);

                }
            });

            $('#work').click(function(){
                $.ajax({
                    type : 'get',
                    async : false,
                    url :'../work',
                    data:{preorderid:$('#preorderid').val()},
                    success : function(json) {
                        window.location.replace("../../newworks/"+json+"/edit");

                    }
                });

            });



            $('#cooperuser').change(function(){

                $('#cooperuserid').val(this.value);
            });

            $('#customer').change(function(){
                $('#customerid').val(this.value);
            });

            if($('#customerid').val()!=''){
                $('#customer').val($('#customerid').val());
            }







        });

        window.operateEvents = {

            'click .edit': function (e, value, row, index) {


                way='edit';
                //alert($('#table').bootstrapTable('getSelections')[0].id);
                $('#modelid').val(row.id);
                $('#raw_data').val(row.name);
                $('#newrawid').val(row.raw_id);
                $('#modelarea').val(row.area);
                $('#modelunit').val(row.unit);
                $('#modelnumber').val(row.number);
                $('#modelprice').val(row.price);
                $('#modelsum').val(row.sum);
                $('#modelsummary').val(row.summary);
                $("#addModal").modal();

            },
            'click .remove': function (e, value, row, index) {
                var ids = new Array();
                ids.push(row.id);
                $.ajax({
                    type : 'get',
                    async : false,
                    url :'../deleteinrawdetail',
                    data:{
                        ids:ids
                    },
                    success : function(json) {
                        getdata();
                    }
                });

            }
        };

        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="编辑">',
                '<i class="fa fa-pencil"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="删除">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('');
        }

        function getdata(){
            var tablejson;

            $.ajax({
                async : false,
                url : "../getdata",
                type : "GET",
                dataType : 'json',
                timeout : 5000,
                data:{
                    preorderid:$('#preorderid').val()

                },
                success : function(jsonstr) {// 客户端jquery预先定义好的callback函数,成功获取跨域服务器上的json数据后,会动态执行这个callback函数
                    //alert(jsonstr.price);
                    tablejson=jsonstr;
                    $('#table').bootstrapTable({
                        showFooter:true,

                        columns: [{
                            checkbox: true,
                            footerFormatter: '合计'
                        },{
                            field: 'id',
                            title: 'id',
                            visible:false


                        },{
                            field: 'area',
                            title: '使用位置'

                        },
                            {
                                field: 'name',
                                title: '型号'

                            },
                            {
                                field: 'unit',
                                title: '单位'

                            },
                            {
                                field: 'price',
                                align: 'right',
                                title: '单价'


                            },
                            {
                                field: 'number',
                                align: 'right',
                                title: '数量'


                            },
                            {
                                field: 'sum',
                                align: 'right',
                                title: '合计'

                            },
                            {
                                field: 'summary',
                                title: '备注',
                                footerFormatter: function (value) {
                                    var count = 0;
                                    for (var i in value) {
                                        count += value[i].sum;
                                    }
                                    return count;
                                }
                            }],

                        formatLoadingMessage: function(){
                            return "";
                        },
                        data: tablejson
                    });

                    $('#table').bootstrapTable('load',tablejson);
                    var sum=0;
                    $.each(jsonstr,function(i,item){
                        sum+=parseFloat(item.sum);
                    });
                    $('#sumspan').text(sum);
                    $('#payablespan').text(sum);
                    $('#payable').val(sum);

                },
                error : function(xhr) {
                }
            });
        }




    </script>
    <style>
        .displaynone{
            display:none;
        }
        .displayshow{
            display:block;
        }

        td {
            padding:5px;
        }

    </style>

    <div class="col-md-12 " style="background-color: white;margin-top: 1px;" id="myPrintArea">
      <style>
          td {
              padding:5px;
          }
      </style>


      <table width="100%" border="1">
        <tr>
          <td>单号</td>
          <td  colspan="5"><%= @preorder.ordernumber %></td>
        </tr>
        <tr>
          <td>客户</td>
          <td>
            <% if @preorder.customer_id && @preorder.customer_id != 0 %>
                <%= Customer.find(@preorder.customer_id).name %>
            <% end %>
          </td>
          <td>
            电话
          </td>
          <td>
            <% if @preorder.customer_id && @preorder.customer_id != 0 %>
                <%= Customer.find(@preorder.customer_id).tel %>
            <% end %>
          </td>
          <td>
            地址
          </td>
          <td>
            <% if @preorder.customer_id && @preorder.customer_id != 0 %>
                <%= Customer.find(@preorder.customer_id).region %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            装修公司
          </td>
          <td>
            <% if @preorder.cooper_id && @preorder.cooper_id != 0 %>
                <%= Cooper.find(@preorder.cooper_id).name %>
            <% end %>
          </td>
          <td>
            设计师
          </td>
          <td>
            <% if @preorder.designer_id && @preorder.designer_id != 0 %>
                <%= Designer.find(@preorder.designer_id).name %>
            <% end %>
          </td>
          <td>
            施工队长
          </td>
          <td>
            <% if @preorder.fiter_id && @preorder.fiter_id != 0 %>
                <%= Fiter.find(@preorder.fiter_id).name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding: 0px; vertical-align: top;">
            <table width="100%">
              <tr>
                <td style="border-right: 1px solid #999;border-bottom: 1px solid #999;">使用位置</td>
                <td style="border-right: 1px solid #999;border-bottom: 1px solid #999;">型号</td>
                <td style="border-right: 1px solid #999;border-bottom: 1px solid #999;">单位</td>
                <td style="border-right: 1px solid #999;border-bottom: 1px solid #999;">单价</td>
                <td style="border-right: 1px solid #999;border-bottom: 1px solid #999;">数量</td>
                <td style="border-bottom: 1px solid #999;">备注</td>
              </tr>
<% sumcount = 0 %>
              <% step = 0 %>
              <% @preorderdetailarr.each do |preorderdetail| %>

                  <tr>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      <%= preorderdetail.area %>
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      <%= preorderdetail.name %>
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      <%= preorderdetail.unit %>
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      <%= preorderdetail.price %>
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      <%= preorderdetail.number %>
                    </td>
                    <td style="border-bottom: 1px solid #999">
                      <%= preorderdetail.summary %>
                    </td>
                  </tr>
                  <% sumcount += preorderdetail.price.to_f * preorderdetail.number.to_f %>
                  <% step += 1 %>
              <% end %>
              <% (27-step).times do %>
              <tr>
                  <tr>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      &nbsp;
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      &nbsp;
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      &nbsp;
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      &nbsp;
                    </td>
                    <td style="border-right: 1px solid #999; border-bottom: 1px solid #999">
                      &nbsp;
                    </td>
                    <td style="border-bottom: 1px solid #999">
                      &nbsp;
                    </td>
                  </tr>
              </tr>
              <% end %>

            </table>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="padding: 0px;">
            <table width="100%">
              <tr>
                <td style="border-right: 1px solid #999;">
                  合计
                </td>
                <td style="border-right: 1px solid #999;">
                  大写：<span id="ar"><%= sumcount %></span>
                </td>
                <td align="right">
                  ￥<span id="sr"><%= sumcount %></span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <td colspan="6" style="padding: 0px;">
          <table width="100%">
            <tr>
              <td style="border-right: 1px solid #999;" width="20%">
                经手人
              </td>
              <td  style="border-right: 1px solid #999;" width="30%">
                <%= @preorder.user %>
              </td>
              <td style="border-right: 1px solid #999;" width="20%">
                预付款（元）
              </td>
              <td width="30%">
                <%= @preorder.pay %>
              </td>
            </tr>
          </table>
        </td>
      </table>

    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">原材料明细</h4>
          </div>
          <div class="modal-body" >
            <div class="form-horizontal m-t">
              <div class="form-group">
                <label class="col-sm-4 control-label">材料名称：</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" class="form-control" id="raw_data">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      </ul>
                    </div>
                    <!-- /btn-group -->
                  </div>
                </div>
              </div>
              <input type="hidden" id="modelid">
              <div class="form-group">
                <label class="col-sm-4 control-label">使用位置：</label>
                <div class="col-sm-8">
                  <input  class="form-control" id="modelarea">
                </div>
              </div>


              <div class="form-group">
                <label class="col-sm-4 control-label">单位：</label>
                <div class="col-sm-8">
                  <input class="form-control" id="modelunit">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">单价：</label>
                <div class="col-sm-8">
                  <input class="form-control" id="modelprice">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">数量：</label>
                <div class="col-sm-8">
                  <input class="form-control" id="modelnumber">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">备注：</label>
                <div class="col-sm-8">
                  <input class="form-control" id="modelsummary">
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalsubmit">确定</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



  </div>
</div>
<%=render 'layerend' %>