<%= render 'layerbegin' %>
<script>
    $(document).ready(function(){




        $('#searchbtn').click(function(){
            window.location.href=window.location.href.split('?')[0]+'?search='+$('#search').val();
        });

        $('#search').val(getUrlParam('search'));

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return decodeURI (r[2]); return null; //返回参数值
        }



    });
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>加工单</h5>
      <div class="ibox-tools col-sm-3" style="margin-top: -5px;">
        <div class="input-group">
          <input type="text" id="search"  class="input-sm form-control"> <span class="input-group-btn">
             <button type="button" id="searchbtn" class="btn btn-sm btn-primary"> 搜索</button> </span>
        </div>
      </div>
    </div>


    <div class="ibox-content">


      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">加工单号</th>
          <th class="text-center">对应订单号</th>
          <th class="text-center">客户</th>
          <th class="text-center">客户电话</th>
          <th class="text-center">地址</th>
          <th class="text-center">安装日期</th>


          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @newworks.each do |newwork| %>
            <tr>
              <td>
                <%= newwork.ordernumber %>
              </td>
              <td>
                <%= Preorder.find(newwork.preordernumber).ordernumber %>
              </td>
              <td>
                <% preorder = Preorder.find(newwork.preordernumber) %>
                <% customer =nil %>
                <% if preorder.customer_id && preorder.customer_id != 0 %>
                    <% customer = Customer.find(preorder.customer_id) %>
                <% end %>
                <% if customer %>
                    <%= customer.name %>
                <% end %>
              </td>


              <td>
                <% if customer %>
                    <%= customer.tel %>
                <% end %>
              </td>
              <td>
                <% if customer %>
                    <%= customer.region %>
                <% end %>
              </td>
              <td>
                <% if Preorder.find(newwork.preordernumber).installdate %>
                    <%= Preorder.find(newwork.preordernumber).installdate.strftime('%Y-%m-%d') %>
                <% end %>
              </td>
              <td>
                <%= link_to '用户联',newwork_path(newwork),class:'fa fa-edit' %>&nbsp;
                <%= link_to '加工联',worklian_newwork_path(newwork),class:'fa fa-edit' %>&nbsp;
                <%= link_to '编辑',edit_newwork_path(newwork),class:'fa fa-edit' %>&nbsp;

                <%= link_to ' 删除', newwork, method: :delete, data: { confirm: '确认删除?' },class:'fa fa-trash' %>


              </td>

            </tr>
        <% end %>
        </tbody>
      </table>

      <%= link_to "新增",dowork_preorder_path(@preorder),class: "btn btn-w-m btn-primary pull-right" %>
      <br/>



    </div>
  </div>
</div>

<%=render 'layerend' %>