<%= render 'layerbegin' %>
<script>
    $(document).ready(function(){

    });
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>原材料库存</h5>
      <div class="ibox-tools col-sm-3" style="margin-top: -5px;">
        <div class="input-group">
          <input type="text" id="search"  class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" id="searchbtn" class="btn btn-sm btn-primary"> 搜索</button> </span>
        </div>
      </div>
    </div>










    <div class="ibox-content">



      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">原材料名称</th>
          <th class="text-center">长（mm）</th>
          <th class="text-center">宽（mm）</th>
          <th class="text-center">数量</th>
          <th class="text-center">面积合计</th>
          <th class="text-center">单价</th>
          <th class="text-center">金额合计</th>
        </tr>
        </thead>
        <tbody>
        <% @newdepots.each do |newdepot| %>
            <% newdepot.newdepotdetails.each do |newdepotdetail| %>
                <tr>
                  <td><%= Newraw.find(newdepot.newraw_id).name %></td>
                  <td>
                    <%= newdepotdetail.width %>
                  </td>
                  <td><%= newdepotdetail.height %></td>
                  <td>
                    <%= newdepotdetail.number %>
                  </td>
                  <td>
                    <%= newdepotdetail.width / 1000 * newdepotdetail.height / 1000 * newdepotdetail.number  %>
                  </td>
                  <td>
                    <%= newdepotdetail.price %>
                  </td>
                  <td>
                    <%= newdepotdetail.price * newdepotdetail.number %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>








    </div>
  </div>
</div>

<%=render 'layerend' %>