<%= render 'layerbegin' %>
<script>
    $(document).ready(function(){

        $('#searchbtn').click(function(){
            //window.location.href=window.location.href.split('?')[0]+'?search='+$('#search').val();
            window.location.href=window.location.href.split('?')[0]+'?searchordernumber='+$('#searchordernumber').val()+'&searchstartdate='+$('#searchstartdate').val()+'&searchenddate='+$('#searchenddate').val()+'&searchcustomer='+$('#searchcustomer').val()+'&searchtel='+$('#searchtel').val()+'&searchcooper='+$('#searchcooper').val()+'&searchdesigner='+$('#searchdesigner').val()+'&searchfiter='+$('#searchfiter').val();
        });

        if(getUrlParam('searchordernumber') || getUrlParam('searchstartdate') || getUrlParam('searchenddate') || getUrlParam('searchcustomer') || getUrlParam('searchtel') || getUrlParam('searchcooper') || getUrlParam('searchdesigner') || getUrlParam('searchfiter')){
            $('#collapseExample').removeClass('collapse');
            $('#collapseExample').addClass('collapse.in');
        }

        $('#searchordernumber').val(getUrlParam('searchordernumber'));
        $('#searchstartdate').val(getUrlParam('searchstartdate'));
        $('#searchenddate').val(getUrlParam('searchenddate'));
        $('#searchcustomer').val(getUrlParam('searchcustomer'));
        $('#searchtel').val(getUrlParam('searchtel'));
        $('#searchcooper').val(getUrlParam('searchcooper'));
        $('#searchdesigner').val(getUrlParam('searchdesigner'));
        $('#searchfiter').val(getUrlParam('searchfiter'));


        laydate.render({
            elem: '#searchstartdate'
        });
        laydate.render({
            elem: '#searchenddate'
        });

/////////////////月报/////////////////////////////////////
        var monthdate = $('selectmonth').val();
        laydate.render({
            elem: '#selectmonth'
            ,type: 'month',
            done: function(value, date){
                monthdate = value;
                getmonth(value);
            }
        });

        getmonth(monthdate);
        $('#echartab').click(function(){
            getmonth(monthdate);
        });

        function getmonth(date){
            $.ajax( {
                url:'workdayrepots/getmonth',
                type:'get',
                dataType:'json',
                data:{
                    date:date
                },
                success:function(data) {
                    $('#selectmonth').val(data.date);
                    setmonth(data.month,data.companyprice,data.customerprice,data.companyraw,data.customerraw,data.companywork,data.customerwork);
                },
                error : function() {
                }
            });
        }

        function setmonth(month,companyprice,customerprice,companyraw,customerraw,companywork,customerwork){
            $(function(){var e=echarts.init(document.getElementById("echarts-line-chart")),
                    a={title:{text:''},tooltip:{trigger:"axis"},legend:{data:["应收","成本","原材料应收","原材料成本","加工应收","加工成本"]},
                        grid:{x:80,x2:80,y2:24},calculable:!0,xAxis:[{type:"category",boundaryGap:!1,
                            data:month}],
                        yAxis:[{type:"value",axisLabel:{formatter:"{value} 元"}}],series:[
                            {name:"应收",type:"line",data:customerprice,markLine:{data:[{type:"average",name:"平均值"}]}},
                            {name:"成本",type:"line",data:companyprice,markLine:{data:[{type:"average",name:"平均值"}]}},
                            {name:"原材料应收",type:"line",data:customerraw,markLine:{data:[{type:"average",name:"平均值"}]}},
                            {name:"原材料成本",type:"line",data:companyraw,markLine:{data:[{type:"average",name:"平均值"}]}},
                            {name:"加工应收",type:"line",data:customerwork,markLine:{data:[{type:"average",name:"平均值"}]}},
                            {name:"加工成本",type:"line",data:companywork,markLine:{data:[{type:"average",name:"平均值"}]}}
                        ]};
                e.setOption(a),$(window).resize(e.resize);});
        }

        /////////////////年报/////////////////////////////////////
        var yeardate = $('selectyear').val();
        laydate.render({
            elem: '#selectyear'
            ,type: 'year',
            done: function(value, date){
                yeardate = value;
                getyear(value);
            }
        });

        getyear(yeardate);
        $('#echartab').click(function(){
            getyear(yeardate);
        });

        function getyear(date){
            $.ajax( {
                url:'workdayrepots/getyear',
                type:'get',
                dataType:'json',
                data:{
                    date:date
                },
                success:function(data) {
                    $('#selectyear').val(data.date);
                    setyear(data.month,data.companyprice,data.customerprice,data.companyraw,data.customerraw,data.companywork,data.customerwork);
                },
                error : function() {
                }
            });
        }

        function setyear(month,companyprice,customerprice,companyraw,customerraw,companywork,customerwork){
            $(function(){var t=echarts.init(document.getElementById("echarts-bar-chart")),n={title:{text:''},
                tooltip:{trigger:"axis"},legend:{data:["应收","成本","原材料应收","原材料成本","加工应收","加工成本"]},
                grid:{x:80,x2:80,y2:24},calculable:!0,xAxis:[{type:"category",data:month}],
                yAxis:[{type:"value",axisLabel:{formatter:"{value} 元"}}],series:[
                    {name:"应收",type:"bar",data:customerprice,markLine:{data:[{type:"average",name:"平均值"}]}},
                    {name:"成本",type:"bar",data:companyprice,markLine:{data:[{type:"average",name:"平均值"}]}},
                    {name:"原材料应收",type:"bar",data:customerraw,markLine:{data:[{type:"average",name:"平均值"}]}},
                    {name:"原材料成本",type:"bar",data:companyraw,markLine:{data:[{type:"average",name:"平均值"}]}},
                    {name:"加工应收",type:"bar",data:customerwork,markLine:{data:[{type:"average",name:"平均值"}]}},
                    {name:"加工成本",type:"bar",data:companywork,markLine:{data:[{type:"average",name:"平均值"}]}}
                ]};t.setOption(n),window.onresize=t.resize;});
        }


        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return decodeURI (r[2]); return null; //返回参数值
        }



    });
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>加工单报表</h5>
      <div class="ibox-tools col-sm-3" style="margin-top: -8px;">
        <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-list"></i></button>
      </div>
    </div>
    <div class="ibox-content">
      <div class="collapse" id="collapseExample">
        <div class="well" style="padding: 0px;">
          <table width="100%" class="form-horizontal m-t">
            <tr>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">订单号</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="searchordernumber">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">开始时间</label>
                  <div class="col-sm-6">
                    <input  class="form-control" id="searchstartdate">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">截止时间</label>
                  <div class="col-sm-6">
                    <input  class="form-control" id="searchenddate">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">客户名称</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="searchcustomer">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">联系电话</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="searchtel">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">装修公司</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="searchcooper">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">设计师</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="searchdesigner">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label">项目经理</label>
                  <div class="col-sm-6">
                    <input class="form-control" id="searchfiter">
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="col-sm-4 control-label"></label>
                  <div class="col-sm-6">
                    <button class="btn btn-w-m btn-primary pull-right" id="searchbtn"><i class="fa fa-search"></i>&nbsp;搜索</button>
                  </div>
                </div>

              </td>
            </tr>
          </table>

        </div>
      </div>
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 加工单报表</a>
          </li>
          <li class=""><a id="echartab" data-toggle="tab" href="#tab-2" aria-expanded="false">统计图表</a>
          </li>
        </ul>
        <div class="tab-content">

          <div id="tab-1" class="tab-pane active">
            <table class="table table-hover table-bordered text-center">
              <thead>
              <tr>
                <th class="text-center">日期</th>
                <th class="text-center">客户</th>
                <th class="text-center">电话</th>
                <th class="text-center">装饰公司</th>
                <th class="text-center">项目经理</th>
                <th class="text-center">地址</th>
                <th class="text-center">单据号</th>
                <th class="text-center">品名</th>
                <th class="text-center">单位</th>
                <th class="text-center">数量</th>
                <th class="text-center">公司单价</th>
                <th class="text-center">客户单价</th>
                <th class="text-center">备注</th>
              </tr>
              </thead>
              <tbody>
              <% @newworkarr.each do |newwork| %>
                  <tr>
                    <td style="vertical-align: middle;">
                      <%= newwork.created_at %>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.customer %>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.tel %>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.cooper %>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.designer %>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.address %>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.ordernumber %>
                    </td>
                    <td style="padding: 0px;">
                      <table width="100%" class="table table-hover  text-center" style="margin-bottom: 0px;" border="0px">
                        <% newwork.products.each do |product| %>
                            <tr>
                              <td>
                                <%= product.name %>
                              </td>
                            </tr>
                        <% end %>
                      </table>
                    </td>
                    <td style="padding: 0px;">
                      <table width="100%" class="table table-hover  text-center" style="margin-bottom: 0px;" border="0px">
                        <% newwork.products.each do |product| %>
                            <tr>
                              <td>
                                <%= product.unit %>
                              </td>
                            </tr>
                        <% end %>
                      </table>
                    </td>
                    <td style="padding: 0px;">
                      <table width="100%" class="table table-hover  text-center" style="margin-bottom: 0px;" border="0px">
                        <% newwork.products.each do |product| %>
                            <tr>
                              <td>
                                <%= product.number %>
                              </td>
                            </tr>
                        <% end %>
                      </table>
                    </td>
                    <td style="padding: 0px;">
                      <table width="100%" class="table table-hover  text-center" style="margin-bottom: 0px;" border="0px">
                        <% newwork.products.each do |product| %>
                            <tr>
                              <td>
                                <%= product.cost %>
                              </td>
                            </tr>
                        <% end %>
                      </table>
                    </td>
                    <td style="padding: 0px;">
                      <table width="100%" class="table table-hover  text-center" style="margin-bottom: 0px;" border="0px">
                        <% newwork.products.each do |product| %>
                            <tr>
                              <td>
                                <%= product.price %>
                              </td>
                            </tr>
                        <% end %>
                      </table>
                    </td>
                    <td style="vertical-align: middle;">
                      <%= newwork.content %>
                    </td>
                  </tr>

              <% end %>
              </tbody>
            </table>
            <br/>
            <div class="text-center">
              <%= will_paginate @newworks, renderer: BootstrapPagination::Rails %>
            </div>


          </div>

          <div id="tab-2" class="tab-pane">
            <div class="panel-body">

              <div class="row">
                <div class="col-sm-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h5>加工单月报</h5>
                      <div class="ibox-tools" style="margin-top: -9px;">
                        <input  class="form-control" id="selectmonth">
                      </div>
                    </div>
                    <div class="ibox-content col-md-12">
                      <div class="echarts" id="echarts-line-chart"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h5>加工单年报</h5>
                      <div class="ibox-tools" style="margin-top: -9px;">
                        <input  class="form-control" id="selectyear">
                      </div>
                    </div>
                    <div class="ibox-content col-md-12">
                      <div class="echarts" id="echarts-bar-chart"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<%=render 'layerend' %>
