
<div class="col-md-12 ibox ibox-content">
  <div class="ibox-content form-horizontal m-t">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> alert-dismissable"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button><%= message %></div>
    <% end %>
    <input type="hidden" id="teminterestid">
    <div class="form-group">
      <%= form_for(@prefixorder,:html => {:class=>'form-horizontal m-t',:multipart => true,:id=>'userform'}) do |f| %>
          <div class="form-group">
            <label class="col-sm-3 control-label">原材料：</label>
            <div class="col-sm-5">
              <%= f.text_field :raw,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">预订单：</label>
            <div class="col-sm-5">
              <%= f.text_field :preorder,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">加工单：</label>
            <div class="col-sm-5">
              <%= f.text_field :work,class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-5 text-right">
              <%= f.submit '确定',class: "btn btn-w-m btn-primary ",id:'smt' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
