<%= render 'layerbegin' %>
<script>
    $(document).ready(function(){

        $('#searchbtn').click(function(){
            window.location.href=window.location.href.split('?')[0]+'?search='+$('#search').val();
        });

        $('#search').val(getUrlParam('search'));

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return decodeURI (r[2]); return null; //返回参数值
        }
    });
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>销售结算单</h5>
      <div class="ibox-tools col-sm-3" style="margin-top: -5px;">
        <div class="input-group">
          <input type="text" id="search"  class="input-sm form-control"> <span class="input-group-btn">
             <button type="button" id="searchbtn" class="btn btn-sm btn-primary"> 搜索</button> </span>
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">订单号</th>
          <th class="text-center">客户</th>
          <th class="text-center">联系方式</th>
          <th class="text-center">客户地址</th>
          <th class="text-center">已付金额</th>
          <th class="text-center">总金额</th>
          <th class="text-center">未结算金额</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @preorders.each do |preorder| %>
            <tr>
              <td>
                <%= preorder.ordernumber %>
              </td>
              <% customer = nil %>
              <% if preorder.customer_id && preorder.customer_id != 0 %>
              <% customer = Customer.find(preorder.customer_id) %>
                  <% end %>
              <td>
                <% if customer %>
                <%= customer.name %>
                <% end %>
              </td>
              <td>
                <% if customer %>
                    <%= customer.tel %>
                <% end %>
              </td>
              <td>
                <% if customer %>
                    <%= customer.region %>
                <% end %>
              </td>
              <td>
                <%= preorder.pay %>
              </td>
              <td>
                <% sum = preorder.preorderdetails.sum('sum') %>
                <%= sum %>
              </td>
              <td>
                <% pay = 0 %>
                <% if preorder.pay.to_s != '' %>
                    <% pay = preorder.pay %>
                    <% end %>
                <%= sum - pay %>
              </td>
              <td>
                <% newwork = Newwork.find_by_preordernumber(preorder.id) %>
                <% if newwork %>
                <%= link_to '查看',sett_newwork_path(newwork),class:'fa fa-edit' %>&nbsp;
                    <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "新增",new_preorder_path,class: "btn btn-w-m btn-primary pull-right" %>
      <br/>
      <div class="text-center">
        <%= will_paginate @preorders, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>

<%=render 'layerend' %>